#section1{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    width:100%;
   
    
}
.logo1{
    position: absolute;
    left:40%;
    top:5%;
    
}
.logo2{
    position: absolute;
    left:40%;
    bottom:40%;
    /* right:100%; */
}

.Julia{
    position: relative;
    left:80%;
    top:30%;
    margin-bottom: 60%;
    color:white;
    font-size:150%;
    font-family: 'Roboto', sans-serif; 
}
.paragraph1{ 
    font-size: 90%;
    text-align: center;
    margin-left: 30%;
    margin-top:0%;
}
.about{
    
    margin-top: 5%;
    margin-left: 25%;
    font-size: 150%;
    
}

.julia{
    position: relative;
    left:40%;
    bottom: 20%;
     font-size: 100%;
     color: white;
     text-align: center;
}
/* .first-text{
    text-align: center;
    font-size: 80%;
    margin-right:0%;
    margin-left: 20%;
} */
.section2{
    background: whitesmoke;
    height: 300px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}
.section3{
    height: 300px;
    background-image: url("../img/s_image.jpg");
}
.paragraph{
    margin-left:35%;
    text-align: center;
    font-size: 90%;
    color:white;
    margin-top:10%;

}
.header{
    color:white;
    /* margin-top:10%; */
    margin-left: 40%;
}
.third-text{
    text-align: center;
    background: transparent;
    color:black;
}
/* .container1{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    padding-top: 5%;
} */
#what{
    text-align: center;
    font-size: 90%;
}
.design{
    display:none;
}
.product{
    display:none;
}
.development{
    display: none;
}
/* .image1{
    height:50px;
    margin-bottom: 34px; 
    margin-left: 500%;
   
}
.image2{
    height:50px;
    margin-bottom: 10px; 
    margin-left: 500%; 
}
.image3{
    height:50px;
    margin-bottom: 10px;  
    margin-left: 500%;
} */
/* .des{
    font-size: 16px;
    margin-bottom:10%;
    margin-left: 500%;
    /* margin-top: 10%; */
    

/* }
.dev{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 500%; 


}
.pro{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 500%;
} */ 
.container2{
    margin-left: 10%;
    width:80%;
    margin-top: 4%;

}
.title{
    text-align:center;
    margin-left: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 100%;
}
.porto{
    text-align:center;
    margin-left: 1%;
    margin-top: 4%;
    font-size: 100%;
}
.header3{
    text-align:center;
    margin-left: 1%;
    margin-top: 5%;
    font-size: 100%; 
}
/* .contact{
    margin-bottom: 20%;
} */
/* .img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img2{
    background-image: url("../img/work2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img3{
    background-image: url("../img/work3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img4{
    background-image: url("../img/work4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img5{
    background-image: url("../img/work5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img6{
    background-image: url("../img/work6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img7{
    background-image: url("../img/work7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img8{
    background-image: url("../img/work8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
} */
.contact{
    height: 500px;
    background-image: url("../img/c_image.jpg");
    background-size: cover;
    margin-top: -10%;
    margin-left: -20px;
}
input[type="text"]{
    background: transparent;
    width: 50%;
    color:white;
}
#name{
    width: 40%;
    margin-left: 20%;
    padding: 1%;
}
#email{
    width: 40%;
    margin-left: 0%;
    padding: 1%;
}
#message{
    background: transparent;
    color: white;
    width: 70%;
    margin-left: 15%;
    
    padding:70px;
    
}
.form-group::placeholder {
    color: white
}
button[type='button']{
    margin-left: 5%;
    margin-bottom: 10%;

}
/* social icons */
.footer{
    text-align: center;
    margin-top: 5%;
}
.studio{
    margin-top: 2%;
    font-size: 80%;
}
.twitter{
    margin-right:1%;
    width: 3%
}
.dribble{
    margin-right:1%;
    width: 3%
}
.facebook{
    margin-right:1%;
    width: 3%
}
.google{
    margin-right:1%;
    width: 3%
}
.skype{
    margin-right:1%;
    width: 3%
}
.stumble-upon{
    margin-right:1%;
    width: 3%
}
.behance{
    margin-right:1%;
    width: 3%
}
.pinterest{
    margin-right:1%;
    width: 3%
}
.flickr{
    margin-right:1%;
    width: 3%
}
#porto1,#porto2,#porto3,#porto4{
    position: relative;
    opacity: 0.5;
    
}
#porto5,#porto6,#porto7,#porto8{
    position: relative;
    margin-top: -10%;
    opacity: 0.5;
}
#one,#two,#three,#four{
    position: absolute;
    top:10px;
    bottom: 20;
    text-align: center;
    border: 3px solid white;
    width: 200px;
    height: 150px;
    margin-left: 14px;
    background-color: transparent;
    padding-bottom: 100px;
    display: none;
    color:white;
    /* padding-bottom:50%; */
}
#five,#six,#seven,#eight{
    position: absolute;
    top:10px;
    bottom: 20;
    text-align: center;
    border: 3px solid white;
    width: 200px;
    height: 150px;
    margin-left: 14px;
    background-color: transparent;
    padding-bottom: 100px;
    display: none;
    color:white;
}



