#section1{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height:80%;
    
}
.logo{
    margin-top:70%;
    margin-right:20%;
    margin-bottom:10%;
}
.Julia{
    margin-right:20%;
    color:white;
    font-size:150%;
    font-family: 'Rufina', serif;
}
.paragraph1{
    font-size: 90%;
    text-align: center;
    margin-left: 20%;
}
/* .header{
    margin-left:10%;
} */
.julia{
     font-size: 49%;
     color: white;
     text-align: center;
}
.first-text{
    text-align: center;
    font-size: 80%;
    margin-left:40%;
}
.section2{
    background: whitesmoke;
    height: 300px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}
.section3{
    height: 300px;
    background-image: url("../img/s_image.jpg");
}
.paragraph{
    margin-left:35%;
    text-align: center;
    font-size: 90%;
    color:white;
    margin-top:10%;

}
.header{
    color:white;
    /* margin-top:10%; */
    margin-left: 40%;
}
.third-text{
    text-align: center;
    background: transparent;
    color:black;
}
.design{
    display:none;
}
.product{
    display:none;
}
.development{
    display: none;
}
.img1{
    float: left;
    margin-right: 200%;
}
.container2{
    margin-left: 10%;
    width:80%;
    margin-top: 4%;

}
img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
img1{
    background-image: url("../img/work2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}