#section1{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    height:80%;
    
}
.logo{
    margin-top:70%;
    margin-right:20%;
    margin-bottom:10%;
}
.Julia{
    margin-right:20%;
    color:white;
    font-size:150%;
    font-family: 'Rufina', serif;
}
.paragraph1{
    font-size: 90%;
    text-align: center;
    margin-left: 20%;
}
/* .header{
    margin-left:10%;
} */
.julia{
     font-size: 49%;
     color: white;
     text-align: center;
}
.first-text{
    text-align: center;
    font-size: 80%;
    margin-left:40%;
}
.section2{
    background: whitesmoke;
    height: 300px;
}
.second-text{
    color: black;
    text-align: center;
    background: transparent;
    font-size-adjust: auto;  
    
}
.section3{
    height: 300px;
    background-image: url("../img/s_image.jpg");
}
.paragraph{
    margin-left:35%;
    text-align: center;
    font-size: 90%;
    color:white;
    margin-top:10%;

}
.header{
    color:white;
    /* margin-top:10%; */
    margin-left: 40%;
}
.third-text{
    text-align: center;
    background: transparent;
    color:black;
}
.design{
    display:none;
}
.product{
    display:none;
}
.development{
    display: none;
}
.image1{
    height:50px;
    margin-bottom: 34px; 
    margin-left:300%; 
   
}
.image2{
    height:50px;
    margin-bottom: 10px; 
    margin-left:300%; 
}
.image3{
    height:50px;
    margin-bottom: 10px;  
    margin-left: 500%;
}
.des{
    font-size: 100%;
    margin-bottom: 10px;
    margin-left:300%; 
    

}
.dev{
    font-size: 100%;
    margin-bottom: 10px;
    margin-left:300%; 

}
.pro{
    font-size: 100%;
    margin-bottom: 10px;
    margin-left: 500%;
}
.container2{
    margin-left: 10%;
    width:80%;
    margin-top: 4%;

}
.title{
    text-align:center;
    margin-left: 1%;
    margin-top: 4%;
    font-size: 100%;
}
.porto{
    text-align:center;
    margin-left: 1%;
    margin-top: 4%;
    font-size: 100%;
}
.img1{
    background-image: url("../img/work1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img2{
    background-image: url("../img/work2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img3{
    background-image: url("../img/work3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img4{
    background-image: url("../img/work4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img5{
    background-image: url("../img/work5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img6{
    background-image: url("../img/work6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img7{
    background-image: url("../img/work7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.img8{
    background-image: url("../img/work8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:150px;
    margin-bottom: 10px;
}
.contact{
    height: 300px;
    background-image: url("../img/c_image.jpg");
    background-size: cover;
    margin-top: 6%;
    margin-left: -20px;
}
input[type="text"]{
    background: transparent;
    width: 50%;
    color:white;
}
#exampleformcontrolTextarea1{
    background: transparent;
    width: 50%;
}
.form-group::placeholder {
    color: white
}
button[type='button']{
    margin-left: 40%;
}
